<!DOCTYPE html>
<html lang="en">
  <head>
    <title>BookBook</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/about.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  </head>

<body> 
  <header>
    <nav class="navbar navbar-default">
      <div class="container-fluid navbar-color">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">
            <p style="font-weight: strong; color: white;"> BookBook</p>
          </a>
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input  style=" height: 25px; width: 750px; float: center;" type="text" class="form-control" placeholder="Search for users">
          <p style=" position: absolute; right: 10%; top: 10%; font-size: 20px; color: white;"> <%=@user.username%></p>
         </div>
      </form>
        </div>
      </div>
    </nav>
  </header>

    <main>
    <div class="container">
      <div class="image">
        <h2 style="position: absolute; bottom: 6%; right: 45%; color: white;"> Calvin Cu Lac</h2>
        <img src="/assets/1.jpg" style=" position: absolute; width: 15%; bottom: 0; left: 120px; border: 3px solid white;" >
        <img src="/assets/2.jpg" style="width: 100%;">
      </div>
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">Timeline</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                <li class="active"><a href="#"> About<span class="sr-only">(current)</span></a></li>
                <li><a href="#">Photos</a></li>
              </form>
              <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Friends</a></li>
              </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>

        <div class="about">
          <h2> About </h2>
        </div>

        <div style="border: 2px solid black">
        <div class="row">
          <div class="col-md-4">
            <h4> Basic Information</h4>
            <ul>
              <li>My birthday is on the 21st</li>
              <li>blah blah blah blah blah</li>
              <li>Im not too sure where i was born</li>
              <li>Looking for girlfriend to buy me rune</li>
            </ul>
            <h4> Contact Info</h4>
                        <table>
              <tr>
                <td style="padding: 0 60px 0 0;">Email</td>
                <td>dzbballin</td>
              </tr>

              <tr>
                <td style="padding: 0 60px 0 0;">Telephone</td>
                <td>403 403-4033</td>
              </tr>
            </table>

          </div>
          <div class="col-md-6 col-md-offset-2">
            <h4> Words to Live By</h4>
            <p> Say i-cup real quick Say i-cup real quick Say i-cup real quick Say i-cup real quick Say i-cup real quick Say i-cup real quick Say i-cup real quick </p>
          </div>
          <div class="col-md-6 col-md-offset-2">
            <h4>About Me</h4>
            <p> vape nation bro!! vape nation bro!! vape nation bro!! vape nation bro!! vape nation bro!! vape nation bro!! vape nation bro!! vape nation bro!! vape nation bro!! vape nation bro!! vape nation bro!! vape nation bro!! vape nation bro!! vape nation bro!! vape nation bro!! vape nation bro!! vape nation bro!! vape nation bro!! vape nation bro!! 
            </p> 
          </div>
        </div>
      </div>
    </main>